<h2>My Profile</h2>

<img src="{{ profile.profile_image.url }}" width="180">

<p><strong>Name:</strong>
    {% if request.user.first_name %}
        {{ request.user.first_name }} {{ request.user.last_name }}
    {% else %}
        {{ request.user.username }}
    {% endif %}
</p>

<p><strong>Username:</strong> {{ request.user.username }}</p>

<p><strong>Email:</strong> {{ request.user.email }}</p>

<p><strong>Phone:</strong>
    {% if profile.phone %}
        {{ profile.phone }}
    {% else %}
        Not Added
    {% endif %}
</p>

<p><strong>Date of Birth:</strong>
    {% if profile.date_of_birth %}
        {{ profile.date_of_birth }}
    {% else %}
        Not Added
    {% endif %}
</p>

<p><strong>Gender:</strong>
    {% if profile.gender %}
        {{ profile.gender }}
    {% else %}
        Not Added
    {% endif %}
</p>

<a href="">Edit Profile</a>